/ {
    chosen {
       // zephyr,display = &epd;
    };

    /*mipi_dbi_epd: mipi-dbi-epd {
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&arduino_spi>;

        dc-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>; 
        reset-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;

        write-only;

        #address-cells = <1>;
        #size-cells = <0>;

        epd: epaper@0 {
            compatible = "solomon,ssd1681";
            reg = <0>;

            mipi-max-frequency = <1000000>;

            busy-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>; 

            width = <200>;
            height = <200>;
            rotation = <0>;
        };
    };*/
};

&arduino_spi {
    status = "okay";
    cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
};
