#include <zephyr/dt-bindings/spi/spi.h>
#include <zephyr/dt-bindings/adc/adc.h>
/ {
	zephyr,user {
		io-channels = <&adc1 0>;
	};

	mipi_dbi0: mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		status = "okay";

		spi-dev = <&spi1>;
		dc-gpios = <&gpioc 0 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpioc 1 GPIO_ACTIVE_LOW>;

		#address-cells = <1>;
		#size-cells = <0>;
		write-only;
		/* duplex = <SPI_HALF_DUPLEX>; */

		epd_mipi: epd_mipi@0 {
			compatible = "solomon,ssd1681";
			reg = <0>;
			status = "disabled";

			/* zephyr,deferred-init; */

			busy-gpios = <&gpioc 5 GPIO_ACTIVE_HIGH>;
			width = <200>;
			height = <200>;

			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
			mipi-max-frequency = <1000000>;
		};
	};
};

&i2c1 {
    status = "okay";
    pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
    pinctrl-names = "default";

    sht3xd@44 {
        compatible = "sensirion,sht3xd";
        reg = <0x44>;
        status = "okay";
    };
};

&adc1 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};

&spi1 {
	status = "okay";
	cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;
	/delete-property/ dmas;
	/delete-property/ dma-names;
};
